@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #171717;
}

button {
    transition: .2s all;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.contenedor{
    width:100vw;
    height:100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.articulosDiv{
    padding:40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a ;
    width:50%;
    border-radius: 10px;
}
#agregar {
    font-size:1.2em;
    background-color: #28a745;
}

#agregar:hover {
    background-color: #218838;
}

#editar {
    background-color: #007bff;
}

#editar:hover {
    background-color: #0069d9;
}

#eliminar {
    background-color: #dc3545;
}

#eliminar:hover {
    background-color: #c82333;
}

#articulosLista>li {
    font-size:1.2em;
}
#articulosLista>li>b {
    color: yellow;
}
#articulosLista>li>.articuloTxt {
    margin-right:1.8em;
}
#creditos{
    width:30%;
    background-color: white;
    color: #171717;
    padding: 20px;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}
#creditos>b{
    color:#171717;
}