<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avance del proyecto</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="contenedor">
        <div class="articulosDiv">
            <button id="agregar">Agregar nuevo producto</button>
            <ul id="articulosLista">
                <li><span class="articuloTxt" id="articuloTxt"><b>ID:</b> 1 - <b>Nombre:</b> Airpods 4 - <b>Cantidad:</b> 10 - <b>Precio:</b> $2999 </span><button id="editar">Editar</button> <button id="eliminar">Eliminar</button></li>
            </ul>
        </div>
        <span id="creditos">Avance de Proyecto por <b>Pedro De León, Paola Urdiales y Frida Garza</b></span>
    </div>
</body>
</html>